*, *::before, *::after{
    box-sizing: border-box;
}

body{
    box-sizing: inherit;
    margin: 0;
    font-family: 'Roboto-Regular, Roboto-Bold', sans-serif;
}

html{
    font-size: 16px;
}

h1{
    font-size: clamp(2rem, 1rem + 1vw, 2.5rem) ;
    font-family: 'Roboto-Bold', sans-serif;
    color: hsl(235, 18%, 26%)
}
p{
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    font-family: 'Roboto-Regular', sans-serif;
    color: hsl(231, 7%, 60%)
}
img{
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
  
}
.container--image{
    position: relative;
    margin: 0;
}
.container--image img{
    
    object-fit: cover;
    object-position: center;
    max-width: 100%;
  
}
.container--content{
    padding: 2em;
}
.container--content ul{
     margin: 0;
     padding: 0;
     margin-bottom: 1em;
}
.container--content li {
    list-style-type: none;
    line-height: 2;
    list-style-position: outside; /* Default behavior */
    text-indent: -2em; /* Adjust to match bullet or number width */
    padding-left: 2em; /* Creates space for the bullet */
}
.reduce{
    width: 1em;
    height: 1em;
    margin-right: 1rem;
}

.signup{
    display: block;
}
.success {
    display: none;
    flex-wrap: wrap;
    position: relative;
  
    color: black;
     
    padding-top: 3em; 
    height: 100vh;
}
.success-check{
 width: 4em;
 height: 4em;
}

label{
    margin-bottom: 1rem;
    font-weight: 800;
    font-size: .8rem;
}
input{
    margin: 1rem auto;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 1em;
   
}
 
.suscribe-btn{
    width: 100%;
    display: block;
    padding: 1em;
    background-color: hsl(234, 29%, 20%);
    color: #fff;
    border-radius: 5px;
    border: none;
}

.suscribe-btn:hover{
    background-color: hsl(4, 100%, 67%);
}
.suscribe-btn:focus{
    background-color: hsl(4, 100%, 67%);
}

.text-danger{
    color: rgb(246, 51, 30)
}
.dismiss-btn{
    align-self: flex-end;
    margin: 1em 1em;
}
.black{
    color: black;
}
 

@media screen and (min-width: 48rem) {
    body{
        background-color: hsl(234, 29%, 20%);
        
    }

    .signup{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        gap: 1em;
        border: 1px solid red;
        width: 70%;
    }
  
    .container{
        
        margin: 25vh auto;
        border-radius: 50px;
        max-width: 900px;
       
    }
    .container--image{
        position: relative;
        margin: 0;
        padding: 0 1em ;
        order: 2;
        height: 100%;
        width: 50%;
        
        
        
    }
    .container--image img{
        height: 100%;
       
      
    }
    .container--content{
        order: 1;
        margin: 2em;
        width: 50%;
    }
    .success{
        display: none;
        width: 30%;
        background-color: #fff;
        height: 30%;
         
         
    }
    .success .container--content{
        width: 100%;
    }
    .success p{
        font-size: 1rem;
      
    }
    .dismiss-btn{
        order: 2;
        margin: 0 5em;
        margin-bottom: 4em;
        align-self: auto;
       
    }
}